*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background: url('../images/Veena-coverphoto.JPG');   
    background-size: cover; 
}

.whiteOverlay {
    width: 100vw;
    height:100vh;
    background: rgba(255, 255, 255, 0.8);
    
  }

  .shallHide {
    width:100%;
    height:100%;
  }

  .pinkDiv {
    height: 100% auto;
    background-color: rgba(255, 0, 0, 0.801); 
     
  }

  .title_wrapper h1{
    color: white;
    font-family: Playfair Display;
    font-size: 100px;
    line-height: 106px;
    font-weight: 400;
    text-align:center;
    padding-top: 144.5px;
    box-sizing: border-box;
  }

  .title_mobile {
    color: rgba(255, 0, 0, 0.801);
    font-family: Playfair Display;
    font-size: 80px;
    line-height: 106px;
    font-weight: 400;
    text-align:center;
    position: absolute;
    top:50%;
    left:50%;
    transform: translate(-50%, -50%);
  }

  .contact_menu_title {
    color:  rgba(255, 0, 0, 0.801);
  }
  #hamburger_icon_fullscreen{
    color:white;
  }

  @media only screen and (max-width: 768px) {
    #hamburger_icon_fullscreen{
      color: rgba(255, 0, 0, 0.801);
    }
   
}