
body{
    background-color: rgba(255, 0, 0, 0.589);  
}
.form-group {
    padding: 10px 50px;
    color:white;
}

button{
    position:absolute;
    left:50%;
    transform: translate(-50%, 0);
    width: 30%;
}