/* specification for the background image to cover the whole browser space in all browsers */
html {
    background: url("../images/Veena-coverphoto.JPG")
      no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    
  }
  /* orange tranparent cover on the right side */
  .overlay {
    background-color: #f25b43;
    opacity: 0.5;
    width: 40%;
    height: 100%;
    color: white;
    position: absolute;
    top: 0px;
    right: 0px;
  }
  
  /* grey box */
  #content {
    background-color: #7797a5;
    width: 60%;
    height: 150px;
    position: absolute;
    top: 30%;
    left: 30%;
    opacity: 0.6;
  }
  
  /* full stack web developer text specifications */
  #text {
    width: 60%;
    height: 400px;
    position: absolute;
    top: 25%;
    left: 30%;
    color: white;
    text-align: center;
    line-height: 200px;
    font-size: 3em;
  
  }
  
  /* specifications for all the <a> link divs ; Home, portfolio */
  .link {
    font-family: "copperlate", Sans-serif;
    position: absolute;
    left: 30%;
    color: white;
    text-align: center;
    line-height: 200px;
    font-size: 1em;
    position: absolute;
    left: 75%;
    margin-top: 20px;
  }
  
  /* specified position for Home */
  #link1 {
    top: 28%;
  }
  /* specified position for Portfolio */
  #link2 {
    top: 31%;
  }
  
  /* Qualities of alink */
  a {
    text-decoration: none;
    color: white;
  }
  