/* Overlay attribute specifications */
@media only screen and (max-width: 768px) {
  .content-wrapper{
    width:60%;
    height:70%;
    top:50%;
    transform: translate(-50%, -50%);
  }
}
   /* .fv h1 {
    font-family: Playfair Display;
    font-size: 3em;
    line-height:50px;
    font-weight: 400;
    text-align:center;
    position: absolute;
    top:left 50%;
    margin:0;
    transform: translate(-50%, 0);
    box-sizing: border-box;
  } */