/* portfolio attributes */

.portfolio{
    width:100vw;
    height: 100vh;
    background-color:#FA3945;  
   
  }
  
  .icon_wrapper{
    padding: 100px;

   
  }
  
  .icons{
    text-align: center;
    color: white;
    
  }
  
  .icons h6 {
    
    margin-top:20px;
  }
  
  #aboutMe{
  
    color:white;
  }

  @media only screen and (max-width: 768px) {
    .portfolio{
      width:auto;
      height: auto;
      background-color:#FA3945;  
     
    }
}
