

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{

    background: url('../images/giphy.gif');
    
}

/* portfolio attributes */

.portfolio{
  width:100vw;
  height: 100vh;
  background-color:#FA3945;  
}

.icon_wrapper{
  padding: 100px;
}

.icons{
  text-align: center;
  color: white;
  
}

.icons h6 {
  
  margin-top:20px;
}

#aboutMe{

  color:white;
}

.work_Window{
width: 100vw;
height: 100vh;
background-color: aqua;
}

.overlay{
    width:100vw;
    height: 100vh;
    background-color: rgba(24, 23, 23, 0.938);
  
}

.content-wrapper{
    background:#161616;
    height: 100vh;
    width:40%;
    position: absolute;
    left:50%;
    margin:0;
    transform: translate(-50%, 0);
}
.motto{
    width:100%;
    height:100vh;  
  }

  #caretDown_icon{
      color:white;
  }

.fv{
    color: rgb(163, 163, 163); 
    padding:50px;
    position: absolute;
    top:50%;
    right:0;
    left:0;
    margin:0;
    text-align:center;
    transform: translate(0, -50%);
  }
  h1{
    font-family: Playfair Display;
    font-size: 5em;
    line-height: 106px;
    font-weight: 400;
    text-align:center;
  }

  #caretDown_icon{
    margin-top: 80px;
    color: rgb(163, 163, 163); 
  }

  .text {
      width:60%;
      position: absolute;
      left:50%;
      margin:0;
      transform: translate(-50%, 0);

  }
 
.headerColor{
background-color:#FA3945;  
color:white;
}
  /* portfolio header specifications */
  .portfolio_header{
    background-color: rgba(24, 23, 23, 0.938);
  
  }

  .portfolio_menu_title{
    color:white;
  }

  /* from here its the header specifications until the next one */

.fullscreen_nav_menu_header{
    background-color: rgba(24, 23, 23, 0.938);
    width: 100vw;

}

  .hamburger_icon_wrapper{
    border-left: black solid 1px;
    margin:20px;
    float:right;
    box-sizing: border-box;
    position: absolute;
    right:0;  
    padding-left:10px;
    cursor:pointer;
  }
 
.hamburger_icon_wrapper{
  margin:20px;
  float:right;
  box-sizing: border-box;
  position: absolute;
  right:0; 
  color: rgb(163, 163, 163);  
  padding-right: 20px;
}

.contact_menu_title {
    color: rgb(163, 163, 163);     
    padding:20px;
    box-sizing: border-box;
    font-family: 'Open Sans';
}



/* From here on Full screen menu attributes */

.fullscreen_nav_menu{
    margin: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(255, 0, 0, 0.801);
}
.fullscreen_nav_menu_title{
    border-bottom: white 1px solid;
    padding:20px;
    box-sizing: border-box;
    /* background-color: rgba(105, 214, 247, 0.664); */
    color: white;
    font-family: 'Open Sans';
  }
  .content_wrapper{
    padding: 0 20%;
    color: white;
    box-sizing: border-box;
  }
  
  .close_icon_wrapper{
    margin:20px;
    float:right;
    box-sizing: border-box;
    position: absolute;
    right:0;  
  }
  #close_icon{
      cursor: pointer;
  }

  .menu-container{
    /* margin:100px; */
    /* margin-top:0px; */
    position: absolute;
    top:50%;
    left: 50%;
    box-sizing: border-box;
    transform: translate(-50%, -50%);
    text-align: center;
  }
  
  
  a{
    color: white;
    padding: 14px 25px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-family: 'Open Sans',sans-serif ;
    font-weight: 800;
    font-size: 50px;
    line-height: 40px;
    
  }
  a:hover {
    color: white;
  }
  ul {
    list-style: none;
  }
  
  .menu li {
    display: list-item;
    text-align: -webkit-match-parent;
  }
  
  .fullscreen_network_links_container ul li,
  .network_links_container ul li{
    display: inline;
    margin:0;
    padding:0;
    box-sizing: border-box; 
  }

  .fullscreen_network_links_container ul li a{
    border: white solid 5px;
  }
  
  .network_links_container{
    position: absolute;
    left:75%;
    bottom:10%;
    transform: translate(-50%, 0);
    box-sizing: border-box;
  }
  
  .fullscreen_network_links_container{
    position: absolute;
    bottom:15%;
    left:50%;
    margin:0;
    transform: translate(-50%, 0);
   
    box-sizing: border-box;
   
  }
  

  @media only screen and (max-width: 736px) {
  
    a{
     color: white;
     padding: 9px 25px;
     text-align: center;
     text-decoration: none;
     display: inline-block;
     font-family: 'Open Sans',sans-serif ;
     font-weight: 800;
     font-size: 20px;
     line-height: 20px;
     
   }
   
   .network_links_container{
     position: fixed;
       bottom: 0;
       right: 0;
     margin-left:20%;
     box-sizing: border-box;
     transform: translate(-50%, -50%);
   }
   .menu-container{
     position: static;
     margin-top:50%;
     margin-left:50%;
   }
   
   .network_links_container ul li a{
     padding:5px;
     margin:0px;
     box-sizing: border-box;
   }
   
 }
   
   
   @media screen and (max-height:550px) {
     .fullscreen_network_links_container{
       position: absolute;
       top:30%;
       left:50%;
       margin:0;
       transform: translate(-50%, 0);
       box-sizing: border-box;
      
     }
     .menu-container{
       margin:0;
       position:absolute;
       top:50%;
       left:50%;
       transform: translate(-50%, 0);
       font-size:10px !important;
       font-weight:0;
     }
   }
   @media screen and (max-height:300px) {
     .fullscreen_network_links_container ul li a{
       border: none;
     }
    
     .fullscreen_network_links_container{
       position: absolute;
       top:50%;
       left:15%;
       margin:0; 
       transform: translate(-50%, 0);
       box-sizing: border-box;
      
     }
   
     .menu-container ul li{
       display: inline;
       font-size: 2px !important;
     }
   }
   
   
   