
  /* specification for the background image to cover the whole browser space in all browsers */
  *{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

html, body {
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    /* background: rgba(255, 255, 255, 0.6) */
    
  }

  .image {
  width: 100%;
	height:100%;
	object-fit: cover;

  }


.whiteOverlay {
  width: 100%;
	height:100%;
  background: rgba(255, 255, 255, 0.8);
  position: absolute;
  top:0px;

}


.shallHide {
  width:100%;
  height:100%;
}


.pinkDiv {
  height: 100%;
  background-color: rgba(255, 0, 0, 0.801);  

}

.pinkDiv_replicated_dimensions {
 height: 12%;
  background-color: rgba(0, 255, 128, 0.801);  
}
h1{
  color: white;
  font-family: Playfair Display;
  font-size: 100px;
  line-height: 106px;
  font-weight: 400;
  text-align:center;
}

.text_wrapper {
  margin-top: 144.5px;
}

.title_mobile {
  color: rgba(255, 0, 0, 0.801);
  font-family: Playfair Display;
  font-size: 80px;
  line-height: 106px;
  font-weight: 400;
  text-align:center;
  position: absolute;
  top:50%;
  left:50%;
  transform: translate(-50%, -50%);
}

.content_wrapper{
  padding: 0 20%;
  color: white;
  box-sizing: border-box;
}

.close_icon_wrapper,
.hamburger_icon_wrapper{
  margin:20px;
  float:right;
  box-sizing: border-box;
  position: absolute;
  right:0;  
}

.fullscreen_nav_menu{
  background-color: rgba(255, 0, 0, 0.801);
  width:100%;
  height: 100%;
  
  
}

.menu-container{
  /* margin:100px; */
  /* margin-top:0px; */
  position: absolute;
  top:50%;
  left: 50%;
  box-sizing: border-box;
  transform: translate(-50%, -50%);
  text-align: center;
}


a{
  color: white;
  padding: 14px 25px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-family: 'Open Sans',sans-serif ;
  font-weight: 800;
  font-size: 50px;
  line-height: 40px;
  
}
a:hover {
  color: white;
}
ul {
  list-style: none;
}

.menu li {
  display: list-item;
  text-align: -webkit-match-parent;
}

.fullscreen_network_links_container ul li,
.network_links_container ul li{
  display: inline;
  margin:0;
  padding:0;
  box-sizing: border-box; 
}

.fullscreen_network_links_container ul li a{
  border: white solid 5px;
}

.network_links_container{
  position: absolute;
  left:75%;
  bottom:10%;
  transform: translate(-50%, 0);
  box-sizing: border-box;
}

.fullscreen_network_links_container{
  position: absolute;
  bottom:15%;
  left:50%;
  margin:0;
  transform: translate(-50%, 0);
 
  box-sizing: border-box;
 
}

.fullscreen_nav_menu_title{
  border-bottom: white 1px solid;
  padding:20px;
  box-sizing: border-box;
  background-color: rgba(105, 214, 247, 0.664);
  color: white;
  font-family: 'Open Sans';
}

#hamburger_icon_fullscreen {
  font-size:36px; 
  color:rgb(255, 255, 255); 
  opacity:1;
  cursor: pointer;
}

#close_icon{
  cursor: pointer;
}



@media only screen and (max-width: 736px) {
 .text_wrapper{
   margin-top: 0px;
 }
 
 h1{
   font-weight: 0px;
   font-size: 70px;
   line-height: 60px;
 }
 .pinkDiv{
   height: auto;
   
 }
 a{
  color: white;
  padding: 9px 25px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-family: 'Open Sans',sans-serif ;
  font-weight: 800;
  font-size: 20px;
  line-height: 20px;
  
}

#hamburger_icon_fullscreen {
 color:rgb(231, 73, 73) !important;
}

.network_links_container{
  position: fixed;
    bottom: 0;
    right: 0;
  margin-left:20%;
  box-sizing: border-box;
  transform: translate(-50%, -50%);
}
.menu-container{
  position: static;
  margin-top:50%;
  margin-left:50%;
}

.network_links_container ul li a{
  padding:5px;
  margin:0px;
  box-sizing: border-box;
}

.title_mobile{
  font-size:60px;
}

}


@media screen and (max-height:550px) {
  .fullscreen_network_links_container{
    position: absolute;
    top:30%;
    left:50%;
    margin:0;
    transform: translate(-50%, 0);
    box-sizing: border-box;
   
  }
  .menu-container{
    margin:0;
    position:absolute;
    top:50%;
    left:50%;
    transform: translate(-50%, 0);
    font-size:10px !important;
    font-weight:0;
  }
}
@media screen and (max-height:300px) {
  .fullscreen_network_links_container ul li a{
    border: none;
  }
 
  .fullscreen_network_links_container{
    position: absolute;
    top:50%;
    left:15%;
    margin:0; 
    transform: translate(-50%, 0);
    box-sizing: border-box;
   
  }

  .menu-container ul li{
    display: inline;
    font-size: 2px !important;
  }
}


